body {
  margin: 0; /*Usar Flexbox*/
  display: flex; /*Organiza los elementos en columna*/
  align-items: center; /*Centrar horizontalmente*/
  /*justify-content: center; /*Centrar verticalmente*/
  /*height: 100vh; /*Ocupa toda la altura de la ventana*/
  font-family: Arial, Helvetica, sans-serif; /*Fuente*/
  justify-content:center;
  min-height: 100vh;
  background-color: #333;
}

.container{
  text-align: center; /*Centra el texto dentro del contenedor*/
  padding: 30px; /*Se añade para que el contenido no esté pegado al borde*/
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px; /*Aumentar para separarlos más*/
  margin-top: 20px; /*Añade espacio dentro del grid para que las tarjetas no se paguen al borde del contenedor*/
}

.card {
    width: 150px; /* Ancho inicial más pequeño */
    background: #f89054; /* Fondo amarillo pastel */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px; /* Padding inicial más pequeño */
    margin: 20px;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    border: 10px solid #ffd92f; /* Bordes en tono mostaza */
    transition: transform 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease; /* Transiciones */
}

.search-input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  /*margin-bottom: 20px;
  margin-top: 20px; /*Se añade un margen superior*/
  display: block;
  
}

/*Estilo para el titulo*/
h1 {
  margin-bottom: 20px;
  
  /*text-align: right; /*Centra el titulo*/

}

/*Estilo para la barra de búsqueda*/
.search-input {
  width: 300px;       /* Ancho de la barra de búsqueda */
  padding: 10px;      /* Espaciado interno */
  font-size: 16px;    /* Tamaño del texto */
  border: 2px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  
}



/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

